html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.comments {
  margin: 8px 0 48px 40px;
  max-width: 86vw;
  padding: 16px;
  border: 2px solid black;
}

.comment_text {
  font-size: 16px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.posts_complete {
  margin: 16px 0 16px 40px;
  max-width: 86vw;
  height: 200px;
  padding: 16px;
  border: 2px solid black;
}

.post_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 24px;
}
