html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
}

.user {
  display: flex;
  margin: 16px 0 16px 40px;
  min-width: 95vw;
}

.user_photo {
  height: 136px;
  width: 136px;
}

.user_name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 136px;
  min-width: 75vw;
  padding: 0 24px;
  margin-left: 16px;
  border: 2px solid black;
}

.name {
  font-size: 64px;
  margin: 0 24px;
}

.post {
  font-size: 24px;
  font-weight: bolder;
  padding: 64px 56px 0;
}
